{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "AWS": "{{ aws_account_id }}"
      },
      "Action": "es:*",
      "Resource": "arn:aws:es:{{ aws_region }}:{{ aws_account_id }}:domain/{{ elasticsearch_name }}/*"
    }
  ]
}
